---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

---

<Layout title="About">
 
    <Main>
    
    
  </div>	
  <div class=" text-justify p-1 py-3.5">
    <p class="text-3xl leading-relaxed text-gray-600n justify-around">
      At Wellness Homes, we believe that true well-being extends beyond mere physical health; it encompasses the harmonious integration of mind, body, and soul. Our mission is to create spaces that foster holistic wellness, promoting a lifestyle that nourishes every aspect of your being.
    </p>
    <div class="mt-8">
     
    </div>
    </div>
 

    <div class=" text-justify p-1 py-3.5">
      <p class="text-3xl leading-relaxed text-gray-600n justify-around">
      We invite you to embark on a transformative journey towards a healthier, more balanced life. Whether you're seeking a refuge from the demands of modern life or looking to embrace a wellness-focused lifestyle, our homes provide the foundation for your personal growth and vitality.
      </p>
      <div class="mt-8">
       
        <Fragment class=" text-justify center py-3.5 " slot="desc">watch the video</Fragment>
        <div style="display: flex; justify-content: center;">  
          <iframe width="560" height="315" src="https://www.youtube.com/embed/A_huALAAWdo?si=u5sCorPqge0DeAfQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
        </Main>

  </Container>
</Layout>