---
import { getCollection } from "astro:content";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import PostList from "../components/PostList.astro";
const posts = await getCollection("posts");

---

<Layout title="Vung Tau| Wellness Homes">
	<Main>
		<H1 text="Welcome to Astro Blog"/>
        {posts.map((_post: any) =>(
   
   <PostList posts= {posts }/>

            ))}
            
	</Main>

</Layout>
		

