---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";

import Container from "../components/container.astro";
import Contactform from "../components/contactform.astro";
import { Icon } from "astro-icon";



---

<Layout title="Contact">
    <Container>
      
        <Fragment slot="title">Contact</Fragment>
        <Fragment slot="desc">I am here to reply.</Fragment>
      
  
      <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
        <div>
          <h2 class="font-medium text-2xl text-gray-800">Contact me</h2>
          <p class="text-lg leading-relaxed text-gray-500 mt-3">
            Need to communicate a message or schedule an appointment? I'm available to assist. Feel free to complete the form, send an email, or give me a call.
          </p>
          <div class="mt-5">
            <div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
              <span>B4 Thuỳ Dương 3, Vung Tau</span>
            </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
                href="mailto:hello@stablotemplate.com">hoctap1537@gmail.com</a
              >
            </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
                href="tel:+84 0908 098 138">+84 0908 098 138</a
              >
            </div>
          </div>
        </div>
        <div>
          <Contactform />
        </div>
      </div>
    </Container>
  </Layout>
  