---
import Layout from '../layouts/Layout.astro';

import H1 from "../components/H1.astro";

import Main from "../components/Main.astro";

import { Image } from 'astro:assets';

import homes from "../images/homes.jpg"

---

<Layout title="Wellness Homes">
	<Main>
		<H1 text="Vung Tau"/>

		<Image src={homes} alt="wellness" class=" justify-flex rounded-2xl shadow-xl mb-4  object-cover inline" width="1000" height="300" />


  <div class="mx-auto max-w-xl text-justify py-3.5">
	<p class="text-lg leading-relaxed text-gray-600n justify-around">
		Wellness Homes Vung Tau offers specific health and wellness services and is proud to be one of the most prestigious wellness providers in Vietnam, led by physicians. Situated near the beautiful Long Cung resort beach in Vung Tau, we aim to extend our services to foreigners residing in Vung Tau and other locations across Vietnam. 
If you're interested in general health and well-being without resorting to drugs, we offer services such as:

	</p>
	<div class="mt-8">
	 
	</div>
	
	<div class="text-lg leading-relaxed text-gray-600n justify-around">

		<ul>
		<li>
		Vein intersection and clearance of blockages in energy and blood flows.
		</li>

		<li>
		Rehabilitation of blood flow to prevent blood clots that may lead to strokes.

		</li>

		<li>
			Insomnia treatment to reduce stress and anxiety.

		</li>
	</ul>
		</div>	
  </div>

  <div class="mx-auto max-w-xl text-justify py-3.5">
	<p class="text-lg leading-relaxed text-gray-600n justify-around">
		Our focus is on providing treatments and services that enhance both physical and mental well-being. 
	</p>
	<div class="mt-8">
	 
	</div>
  </div>




	</Main>

</Layout>
		