---
import Layout from '../layouts/Layout.astro';

import H1 from "../components/H1.astro";

import Main from "../components/Main.astro";

import { Image } from 'astro:assets';

---

<Layout title="Wellness Homes">
	<Main>
		<H1 text="Vung Tau"/>

<img src="/images/oasis.webp" alt="wellness=" class="rounded-2xl shadow-xl mb-4  object-cover">

		

<div class="mx-auto max-w-xl text-justify py-3.5">
	<p class="text-lg leading-relaxed text-gray-600n justify-around">
		At Wellness Homes, we believe that true well-being extends beyond mere physical health; it encompasses the harmonious integration of mind, body, and soul. Our mission is to create spaces that foster holistic wellness, promoting a lifestyle that nourishes every aspect of your being.
	</p>
	<div class="mt-8">
	 
	</div>
  </div>

  <div class="mx-auto max-w-xl text-justify py-3.5">
	<p class="text-lg leading-relaxed text-gray-600n justify-around">
		Our homes are meticulously designed with your wellness in mind. Thoughtful layouts, natural light, and sustainable materials converge to create spaces that not only elevate your physical health but also inspire a sense of calm and serenity.
	</p>
	<div class="mt-8">
	 
	</div>
  </div>

  <div class="mx-auto max-w-xl text-justify py-3.5">
	<p class="text-lg leading-relaxed text-gray-600n justify-around">
		Immerse yourself in environments designed to enhance your overall well-being. From tranquil bedrooms that promote restful sleep to rejuvenating spaces that encourage mindfulness, our homes are crafted to be your sanctuary for balanced living.
	</p>
	<div class="mt-8">
	 
	</div>
  </div>

	</Main>

</Layout>
		