---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import H1 from "../components/H1.astro";


---

<Layout title="Team">
 
    <Main>

      <H1 text="Meet The Team"/>
        <div class="flex items-center justify-center space-x-7">
            <!-- Avatar 1 -->


            <div class="flex flex-col items-center">
              <div class="bg-gray-300 rounded-full p-2">
                <img class="h-36 w-36 rounded-full" src="/images/rita.webp" alt="Avatar 2">
              </div>
              <p class="mt-2 text-center text-sm">Rita Nguyen</p>
              <p class="mt-2 text-center font-semibold text-sm mb-8">Director</p>
            </div>
            
    
      <div class="flex flex-col items-center">
        <div class="bg-gray-300 rounded-full p-2">
          <img class="h-36 w-36 rounded-full" src="../images/anh.webp" alt="Avatar 2">
        </div>
        <p class="mt-2 text-center text-sm">Anna Nguyen</p>
        <p class="mt-2 text-center font-semibold text-sm mb-8">Manager</p>

      </div>

      <div class="flex flex-col items-center">
        <div class="bg-gray-300 rounded-full p-2">
          <img class="h-36 w-36 rounded-full" src="/images/rubby.webp" alt="Avatar 2">
        </div>
        <p class="mt-2 text-center text-sm">Rubby</p>
        <p class="mt-2 text-center font-semibold text-sm mb-8">Public Relations</p>
      </div>
    </div>
    
    
    <div class="flex flex-col items-center">
      <div class="bg-gray-300 rounded-full p-2">
        <img class="h-36 w-36 rounded-full" src="/images/hanh.webp" alt="Avatar 2">
      </div>
      <p class="mt-2 text-center text-sm">Hanh</p>
      <p class="mt-2 text-center font-semibold text-sm mb-8">Specialist</p>
    </div>
  </div>


  



<div class="flex flex-col items-center">
  <div class="bg-gray-300 rounded-full p-2">
    <img class="h-36 w-36 rounded-full" src="/images/x.webp" alt="Avatar 2">
  </div>
  <p class="mt-2 text-center text-sm">Ms. X</p>
  <p class="mt-2 text-center font-semibold text-sm mb-8">Specialist</p>
</div>
</div>

  



              
    </Main>

