---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";

import H1 from "../components/H1.astro";


---

<Layout title="Team">
 
    <Main>

      <H1 text="Meet The Team"/>
        <div class="flex items-center justify-center space-x-7">
            <!-- Avatar 1 -->
    
            <div class="flex flex-col items-center">
              <div class="bg-gray-300 rounded-full p-2">
                <img class="h-36 w-39 rounded-full" src="/images/sally2.jpg" alt="Avatar 1">
              </div>
              <p class="mt-2 text-center text-sm">Sally Doe</p>
            </div>
          
            <!-- Avatar 2 -->
            <div class="flex flex-col items-center">
              <div class="bg-gray-300 rounded-full p-2">
                <img class="h-36 w-39 rounded-full" src="/images/MsAnh.jpg" alt="Avatar 2">
              </div>
              <p class="mt-2 text-center text-sm">The Boss</p>
            </div>

           

        

      <div class="flex flex-col items-center">
        <div class="bg-gray-300 rounded-full p-2">
          <img class="h-36 w-39 rounded-full" src="/images/anhB.jpg" alt="Avatar 2">
        </div>
        <p class="mt-2 text-center text-sm">Anh Bao</p>
      </div>
    </div>

    <div class="flex flex-col items-center">
      <div class="bg-gray-300 rounded-full p-2">
        <img class="h-36 w-39 rounded-full" src="/images/relax.webp" alt="Avatar 2">
      </div>
      <p class="mt-2 text-center text-sm">Hoang Minh</p>
    </div>
  </div>



        
              
    </Main>

