---

import Header from '../components/Header.astro';

import Footer from "../components/Footer.astro"

import { ViewTransitions } from 'astro:transitions';

import { SEO } from "astro-seo";

import homes from "../images/homes.jpg"


interface Props {
	title: string;
	description?: string;
	image?: string
}

const { title, description, image } 
= Astro.props;



---

<!doctype html>
<html lang="en">
	<head>
		
		<meta charset="UTF-8" />
		<meta
name="description"
content="Wellness Homes Vung Tau offers specific health and wellness 
services and is proud to be one of the most prestigious wellness providers in Vietnam,
led by physicians. Situated near the beautiful Long Cung resort beach in Vung Tau, 
we aim to extend our services to foreigners residing in Vung Tau and other locations across Vietnam.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<title>{title}</title>

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-N56RJ68XHQ"></script>

		<ViewTransitions />

	

  </head>
  
  <Header />
	
  <body>
	  <slot />
	  <Footer />
	  <body class="min-h-screen">

</html>
